<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {%- if page.title -%}
        {{page.title}} |&nbsp
    {%- endif -%}
    Grace Chinese Lutheran Church</title>
</head>

<body>
    <header class="site-header" role="banner">
        <div class="wrapper">
            <a class="site-title" rel="author" href="/gclc_dimension/">Grace Chinese Lutheran Church</a><nav class="site-nav">
        </div>
    </header>
    
    <div class="main_container">
        <main class="page-content" aria-label="Content">
                <article>
                    <div class="post-content e-content" itemprop="articleBody">
                        {{ content }}
                    </div>
                </article>
        </main>
    </div>
</body>

</html>